<div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Renk Ara</label>
        <input type="text" [(ngModel)]="colorFilterText" class="form-control" id="colorFilterText" placeholder="Renk giriniz..">
      </div>
      <div *ngIf="colorFilterText.length>2" class="alert alert-success">{{colorFilterText}}</div>
    <div class="row">
       <ul class="list-group">
            <li (click)="setCurrentColor(color)"
            routerLink="cars/color/{{color.colorName}}"
            *ngFor="let color of colors | colorFilter:colorFilterText" [class]="getCurrentColorClass(color)">{{color.id}} - {{color.colorName}}</li>
       </ul>
    </div>
    <div class="row d-flex justify-content-center">
        <div *ngIf="dataExists==false" class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
    </div>
</div>

