
    <div class="card mt-50 mb-50">
        <div class="card-title mx-auto"> Araç Kiralama</div>
        <div class="nav">
            <ul class="mx-auto">
                <li class="active"><a>Ödeme</a></li>
            </ul>
        </div>
        <form> <span id="card-header">Ödeme Bilgileri:</span>
            <div class="row-1">
                <div class="row row-2"> <span id="card-inner" >Kart Sahibinin Adı</span> </div>
                <div class="row row-2"> <input type="text" placeholder="Bojan Viner"> </div>
            </div>
            <div class="row three">
                <div class="col-7">
                    <div class="row-1">
                        <div class="row row-2"> <span id="card-inner">Kart Numarası</span> </div>
                        <div class="row row-2"> <input type="text" maxlength="16" placeholder="513452644" required> </div>
                    </div>
                </div>
                <div class="col-2"> <input maxlength="5" type="text" placeholder="Son Geçerlilik Tarihi"> </div>
                <div class="col-2"> <input maxlength="3" type="text" placeholder="CVV"> </div>
            </div> <button (click)="pay()" type="submit" class="btn btn-success"><b>Ödeme Yap</b></button>
        </form>
    </div>
<
