<div class="container" style="padding-top: 85px;">

    <div class="card mb-3">
        
         
        <div class="card-body" *ngFor="let car of selectedCar">
            <div class="row">
                <div *ngFor="let image of carImages" class="card" style="width:20rem; margin-left: 35px;">
                    <img  src="https://localhost:44383/{{image.imagePath}}" class="card-img-top">
                </div> 
            </div>
          <h5 class="card-title">{{car.brandName}} {{car.description}}</h5>
          <p class="card-text">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-palette-fill" viewBox="0 0 16 16">
                <path d="M12.433 10.07C14.133 10.585 16 11.15 16 8a8 8 0 1 0-8 8c1.996 0 1.826-1.504 1.649-3.08-.124-1.101-.252-2.237.351-2.92.465-.527 1.42-.237 2.433.07zM8 5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm4.5 3a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zM5 6.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm.5 6.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
              </svg> {{car.colorName}}  <br> 
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-credit-card-fill" viewBox="0 0 16 16">
                <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v1H0V4zm0 3v5a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7H0zm3 2h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-1a1 1 0 0 1 1-1z"/>
              </svg> {{car.dailyPrice}} <br>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
              </svg> {{car.modelYear}}</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="row">

        <!-- Modal -->
        <div class="modal-content">
            <div class="modal-header" *ngIf="selectedCar">
              <h5 *ngFor="let car of selectedCar" class="modal-title" id="exampleModalLabel">{{car.brandName}} {{car.description}}</h5>
            </div>
            <div class="modal-body" style="margin-left: 75px;">
                <form [formGroup]="carRentForm" (ngSubmit)="setDates()" >
                    <table>
                        <thead class="alert alert-success">
                            <th>Kiralama Başlangıç</th>
                            <th>Kiralama Bitiş</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input  (ngModelChange)="setRentDate()" type="date" formControlName="rentDate"  [min]="todayString" ></td>
                                <td><input type="date" formControlName="returnDate" [min]="rentDateString"></td>
                        </tr>
                        </tbody>
                    </table>
                </form>
                
                  
                </div>
            
            <div class="modal-footer">
                <button (click)="rentTheCar()" type="button" class="btn btn-primary" class="btn btn-success" style="width: 30%;" id="rent">Kirala</button>
            </div>
          </div>
          </div>
     <!-- Spinner -->
     <div class="row d-flex justify-content-center">
        <div *ngIf="dataExists==false" class="spinner-border" role="status">
            <span class="visually-hidden">Yükleniyor...</span>
          </div>
     </div>
</div>
 