<div class="content">
    <div class="card">
        <div class="card-header">
            <h5 style="text-align: center;">Renk Ekle</h5>
        </div>
        <div class="card-body">
           <form [formGroup]="colorAddForm" >
            <div class="mb-3">
                <label for="colorName" class="form-label">Renk Adı</label>
                <input type="text" class="form-control" id="colorName" formControlName="colorName">
              </div>
           </form>
            </div>
        <div class="card-footer text-center d-grid gap-2 ">
            <button (click)="add()" type="button" class="btn btn-success btn-lg btn-block">Ekle</button>
        </div>
    </div>
</div>
